<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2 class="titulo-secao-card">Cadastrar Perfil</h2>
            </div>
            <form class="form-card-conteudo">
                <div class="mb-3">
                  <label for="inputNomePerfil" class="form-label">Nome do perfil *</label>
                  <input type="text" class="form-control" id="inputNomePerfil">
                  <div class="form-text">* Obrigatório</div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-danger btn-cancelar" (click)="activeModal.close()">Cancelar</button>
                    <button type="button" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
