<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2 class="titulo-secao-card">{{ titulo }}</h2>
            </div>
            <form #cargoForm="ngForm" (ngSubmit)="save()" class="form-card-conteudo">
                <div class="mb-3">
                  <label for="inputNomeCargo" class="form-label">Nome do cargo *</label>
                  <input type="text" class="form-control" id="inputNomeCargo" name="nome" [(ngModel)]="cargo.nome">
                  <div class="form-text">* Obrigatório</div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-danger btn-cancelar" (click)="activeModal.close()">Cancelar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="cargo.nome == ''">{{ acao }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
